body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    transition: 0.3s;
}

.light {
    background: #f1f5f9;
    color: black;
}

.container {
    width: 400px;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.light .container {
    background: white;
}

input, button {
    padding: 8px;
    margin: 5px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #334155;
    margin-top: 10px;
    cursor: grab;
    display: flex;
    justify-content: space-between;
}

.light li {
    background: #ddd;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.progress {
    width: 100%;
    height: 10px;
    background: gray;
    margin: 10px 0;
}

#progressBar {
    height: 100%;
    width: 0%;
    background: green;
}
