body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.container {
    width: 350px;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 10px;
    background: #334155;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
